Memberships

* User should see link for basic plan on home page

* User should see link for pro plan on home page

* Basic plan link should point to the regular devise sign up form

* Pro plan link should point to custom sign up form


ActiveRecord - Background library with functionality for making model files to talk to SQL database
Parameters   - Query string parameters = passed through URL after ?mark
             - POST data, sent through a POST request through HTML forms
Substitution - Skill to mentally replace code with "what code does" 

Stripe integration
* Modify user table to store card token from Stripe.
* Make Javascript to prevent pro-form submitting, when user fills it out and
send it off to Stripe so Stripe can return a card token.
* Javascript should take card token and user fields (not card fields) and send 
to rails app for validation. rails app should see whether plan is basic or pro.
* Once validated, rails will send user info(email, plan_id) and card token to 
Stripe server and Stripe will create a subscription and send back customer token.
Rails should save user info and customer token to database.

User Profiles
* Each user should have a profile
* The user should see a link to the new profile form upon signing up
* The user should be able to create and view their user profile
* The User should have a profile picture
* Users should be able to view all user profiles
