<div class="container text-center">
  <h1>About page</h1>
  <p>DevMatch is a social meeting point for developers and entrepeneurs</p>
  <p>This is my tutorial project for learning web developing with Ruby 
  using the Rails framework</p>
</div>